html, body {
    padding: 0;
    margin: 0;
}

body {
    background: url('../src/bground.jpg');
    overflow-x: hidden;
}

label {
    color: #FFFFFF;
}

.blur {
    opacity: 0.7;
}

.inline-title {
    display: inline;
}

#banner {
    color: black;
    padding: 0;
    width: 100vw;
}

#shift-key {
    width: 30px;
    height: 30px;
    text-align: center;
}

p.title {
    font-family: HL-Comic1unicode;
    font-size: 25px;
}

.buttonWrapper {
    text-align: center;
}

.button {
    position: absolute;
    top: 50%;
}

button {
    width: 250px;
    margin: 10px 10px 10px 10px;
    height: 70px;
    display: table-cell;
    vertical-align: center;
}

#result-text, #input-text {
    width: 100%;
    height: 300px;
    margin: auto;
    padding: 10px;
    border: 5px solid #000000;
    border-radius: 2px;
    background: whitesmoke;
}

footer {
    display: flex;
    justify-content: center;
    padding: 5px;
    background-color: hsla(0, 0%, 0%, 0.7);
    color: #ffffff;
    height: 50px;
    width: 100vw;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1031;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
    background-color: hsla(223, 100%, 50%, 0.9);
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 30%;
}

#message{
    color: white;
    font-family: HL-Comic1unicode;
    font-size: x-large;
}
#close-btn {
    width: fit-content;
    height: fit-content;
    align-self: flex-end;
}